.row{
	padding: 10px 40px;
	display: flex;
	flex-direction: row;
}
.row li{
	display: inline-block;
}
.guessed{
	background-color: #ddd;
	opacity: .7;
}
.answers{
	/*background-color: pink;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 45px;
	height: 45px;
	margin: 0 0 0 5px;
}